body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #00b04fc2;
    color: #ffffff;
    padding: 15px 0;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
}

.content {
    max-width: 400px;
    text-align: left;
}

.content h2 {
    font-size: 24px;
}

.content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.image img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
}

footer {
    background-color: #00b04fc2;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

